body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

/*  HEADER SECTION */

header {
height: 69px;
width: 100%;
z-index: 2;
position: fixed;
background-color:black;
border-bottom: solid 1px seashell;
display: flex;
justify-content: space-between;
align-items: center;
top: 0;
}

#logo {
    height: 50px;
    padding-left: 10px;   
}

#navigation {
display: flex;
justify-content: space-between;
text-decoration: underline;
align-items: flex-end;
width: 370px;
padding-right: 10px;
}

img {
    max-width: 100%;
}

#navigation a {
    color: seashell;
    text-decoration: none;
    font-size: 18px;     
              }

ul {
    list-style-type: none;
   }

 /* BANNER SECTION*/

.front_banner {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 70px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }


#mission {
    background-color: black;
    width: 1200px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }

#mission h2 {
    margin: 5px;  
            }
#mission h4 {
    margin: 5px;  
            }

/* TEA OF THE MONTH*/

.tea_containers {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    width: auto;
    flex-wrap: wrap;
    margin: 30px auto 0 auto;
}

#tea_heading {
    font-family: Helvetica, sans-serif;
    }
    #tea_heading h2 {
    margin: 50px auto 10px auto;
    }
    #tea_heading h4 {
    margin: 10px auto 0px auto;
    }

#tea_img {
    height:200px;
    width:300px;
}

.container1 {
    display: flex;
    flex-direction: column; 
    width: 300px; 
    margin: 10px;
}
#undertext {
    height:auto;
    width:300px;
    padding: 0px;
    margin: 10px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
}

/* LOCATIONS*/

.locations {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    max-width: 1200px;
    width: auto;
    margin: 70px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    }

    .locations h2 {
        width: 500px;
        margin: auto auto 15px auto;
    }

    .location_containers {
        display: flex
        }

    .area_container{
        background-color: black;
        width: 300px;
        opacity: 1;
        margin: 0 20px;              
    }

    /* FOOTER*/
.footer {
height: 200px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.footer h2{
    margin:5px auto;
}

#copyright {
    text-align: left;
    margin: auto auto auto 20px;
}